{% extends "layouts.html" %}

{% block title %}
    <title>Criar ponto de coleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create_point.css">
{% endblock styles %}

{% set pageId = "page-create_point" %}

{% block content %}

    {% include "partials/page-header.html" %}

    <!-- O FORM submete os dados de entrada do usuário a um programa que se encarregará do processamento desses dados, de acordo com o interesse do criador do documento. -->
    <form>

        <h1>Cadastro de ponto de coleta</h1>

        <!-- é como se fosse uma div, porém, significa que vai ter campos de preenchimento dentro dela, pra organizar -->
        <fieldset>

            <!-- O elemento <legend> representa um rótulo para o conteúdo do seu ancestral <fieldset> -->
            <legend>
                <h2>Dados da entidade</h2>
            </legend>

            <!-- Classe utilizada para estilização dos campos utilizados para entrada de dados -->
            <div class="field-group">
                <div class="field">

                    <!-- label para o input do nome da entidade -->
                    <label for="name">
                        Nome da entidade
                    </label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">

                    <!-- label para o input do nome da entidade -->
                    <label for="image">
                        Imagem da entidade
                    </label>
                    <input type="url" name="image" required="required" placeholder="http://">
                </div>


            </div>

            <!-- Classe utilizada para estilizar um grupo de fields -->
            <div class="field-group">

                <div class="field">

                    <!-- label para o input do nome do endereço -->
                    <label for="address">
                        Endereço
                    </label>
                    <input type="text" name="address" required="required">

                </div>

                <div class="field">

                    <!-- label para o input do número -->
                    <label for="address2">
                        Número/Complemento
                    </label>
                    <input type="text" name="address2" required="required">

                </div>

            </div>

            <div class="field-group">

                <div class="field">

                    <label for="state">
                        Estado
                    </label>

                    <!-- Uma caixa para seleção do estado -->
                    <select name="uf" id="" required="required">
                        <option value="">
                            Selecione o estado
                        </option>
                    </select>

                    <!-- Vai ser utilizado no script para guardar o nome do estado e passar para o BD, pois se passar o select vai estar passando o ID do estado -->
                    <input type="hidden" ,="," name="state">

                </div>

                <div class="field">

                    <label for="city">
                        Cidade
                    </label>

                    <!-- Uma caixa para seleção da cidade -->
                    <select name="city" id="" disabled="disabled" required="required">
                        <option value="">
                            Selecione a cidade
                        </option>
                    </select>

                </div>

            </div>

        </fieldset>

        <fieldset>

            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <!-- Cria uma lista de Itens. Cada item tem uma imagem e uma descrição, além de ter um "data" do tipo id, que vai servir para enviar os dados de que item está selecionado para o backend. Esses dados serão eniados pelo input hidden -->
            <div class="items-grid">
                <li data-id="1">
                    <img src="/assets/lampadas.svg" alt="Lâmpadas"></img>
                    <span>Lâmpadas</span>
                </li>
                <li data-id="2">
                    <img src="/assets/baterias.svg" alt="Pilhas e Baterias"></img>
                    <span>Pilhas e baterias</span>
                </li>
                <li data-id="3">
                    <img src="/assets/papeis-papelao.svg" alt="Papeis e Papelão"></img>
                    <span>Papeis e papelão</span>
                </li>
                <li data-id="4">
                    <img src="/assets/eletronicos.svg" alt="Resíduos Eletrônicos"></img>
                    <span>Eletrônicos</span>
                </li>
                <li data-id="5">
                    <img src="/assets/organicos.svg" alt="Resíduos Orgânicos"></img>
                    <span>Resíduos Orgânicos</span>
                </li>
                <li data-id="6">
                    <img src="/assets/oleo.svg" alt="Óleo de cozinha"></img>
                    <span>Óleo de cozinha</span>
                </li>
            </div>

            <!-- hidden input que vai servir para enviar os itens que estão selecionados para o backend -->
            <input type="hidden" name="items">

        </fieldset>

        <!-- Botão utilizado para enviar os dados do formulário -->
        <button type="submit">Cadastrar ponto de coleta</button>

    </form>

{% endblock content %}

{% block scripts %}
    <script src="/scripts/create_point.js"></script>
{% endblock scripts %}