{% extends "layouts.html" %}

{# Título está o default #}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{# id da div #}
{% set pageId = "page-home" %}

{% block content %}
    <!-- Classe que vai conter o conteúdo da homepage -->
    <div class="content">

        <!-- Header da página, com logo e link para cadastro -->
        <header>
            <!-- Utiliza a imagem da logo, para questão de acessibilidade ou de erro ao carregar a imagem, usa-se o alt para substituir a logo -->
            <img src="/assets/logo.svg" alt="Ecoleta">
            <!-- Link para realizar o cadastro de pontos. O span é utilizado para adicionar uma imagem antes do texto -->
            <!-- O elemento HTML <span> é um conteiner generico em linha para conteúdo fraseado , que não representa nada por natureza. -->
            <!-- a tag <a> é utilizada para fazer links -->
            <a href="/create-point">
                <span></span>
                Cadastre um ponto de coleta
            </a>
        </header>

        <!-- Conteúdo principal da homepage -->
        <main>

            <!-- Título -->
            <!-- A h1 é uma tag HTML que indica um título. Pode ir de h1 até h6, sendo h1 o maior tamanho e h6 o menor -->
            <h1>Seu marketplace de coleta de resíduos</h1>

            <!-- Texto -->
            <!-- a tag <p> representa um parágrafo do texto -->
            <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente</p>

            <!-- Link para pesquisar os pontos. Utiliza <span> para a imagem e <strong> para o texto, que já fica em negrito -->
            <!-- a tag <strong> é muito parecida com a <bold>, porém <strong> pode ser interpretado por outros programas como leitores de páginas para surdo lendo o texto de forma diferente. -->
            <a href="#">
                <span></span>
                <strong>Pesquisar pontos de coleta</strong>
            </a>

        </main>

    </div>
{% endblock content %}

{% block modal %}
    {%include "partials/modal.html"%}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock scripts %}