<!DOCTYPE html>
<html lang="pt_br">

    <head>
        <meta charset="UTF-8">
        <!-- Para otimizar dependendo do tamanho da tela do dispositivo -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {# Deixa um título default #}
        {% block title %}
            <title>Ecoleta</title>
        {% endblock title %}

        <!-- Importar as fontes do google.fonts - esse link está na página -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

        <!-- Utilizar o style do arquivo main.css -->
        <link rel="stylesheet" href="/styles/main.css">

        {% block styles %}{% endblock styles %}

        <link rel="stylesheet" href="/styles/responsive.css">
        
    </head>

    <body>
        
        {# Se não for adicionado id vai ser um id vazio como default #}
        <div id="{{pageId}}">
            {% block content %}
            {% endblock content %} 
        </div>

        {% block modal %}
        {% endblock modal %}

        {% block scripts %}
        {% endblock scripts %}

    </body>
</html>