<!-- Header da página, com logo e botão para voltar -->
<header>
    <!-- Utiliza a imagem da logo, para questão de acessibilidade ou de erro ao carregar a imagem, usa-se o alt para substituir a logo -->
    <img src="/assets/logo.svg" alt="Ecoleta">
    <!-- Link para realizar o cadastro de pontos. O span é utilizado para adicionar uma imagem antes do texto -->
    <!-- O elemento HTML <span> é um conteiner generico em linha para conteúdo fraseado , que não representa nada por natureza. -->
    <!-- a tag <a> é utilizada para fazer links -->
    <a href="/">
        <span></span>
        Voltar para a home
    </a>
</header>