#page-create_point
{
    width: 90%;
    max-width: 1100px;

    /* alinhamento de caixa pelo lado de fora */
    /* margem superior e inferior = 0 e dos lados são automaticamente ajustadas, sendo assim cada lado tem a mesma marge */
    margin: 0 auto;
}

#page-create_point header
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 48px;
}

/* Voltar para a home */
#page-create_point header a
{
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

/* Imagem ao lado de Voltar para a home */
#page-create_point header a span
{
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 22px;

    margin-right: 16px;
}

form
{
    background-color: white;
    
    /* Cria uma margem de 80px em cima e embaixo e deixa as margens laterais iguais, sendo ajustadas automaticamente */
    margin: 80px auto;

    /* preenchimento */
    /* Distância interna do conteúdo para a margem */
    padding: 64px;

    border-radius: 8px;

    /* Limitar a largura pra deixar mais bonito */
    max-width: 720px;

}

form h1
{
    font-size: 36px;
}

form fieldset
{
    /* Distância que o fieldset vai estar do título do formulário */
    margin-top: 64px;

    /* Pra tirar uma bordinha que fica ao redor */
    border: 0; 
}

form legend
{
    /* Margem do subtítulo "Dados da entidade" para os fields */
    margin-bottom: 40px;
}

form legend h2
{
    font-size: 24px;
}

form .field
{
    /* flex 1 faz os fields ocuparem a linha inteira, e não somente o que ocupariam com o seu tamanho */
    flex: 1;
    display: flex;
    flex-direction: column;

    /* Para ter uma distância entre os fields */
    margin-bottom: 24px;
}

form .field-group
{
    /* Pra poder deixar os fields ficarem um do lado do outro */
    display: flex;
}

/* Deixa tanto o input quanto o select com esse style */
form input,
form select
{
    background-color: #f0f0f5;

    /* Tira as bordas que tem ao redor */
    border: 0;

    /* Aumenta o tamanho dos campos para input/select */
    padding: 16px 24px;
    font-size: 16px;

    /* quando seleciona o campo ficava uma linha ao redor */
    outline: none;

    border-radius: 8px;

}

form select
{
    /* resetar a aparência padrão - usa os 3 pra aplicar em mais tipos de navegadores */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Escrita em cima dos campos para input */
form label
{
    font-size: 14px;
    margin-bottom: 8px;
}

/* pego o field que está ao lado de outro field */
form .field-group .field + .field
{
    margin-left: 24px;
}

form button
{
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;

    border: 0;

    margin-top: 40px;
    /* Para deixar o efeito de hover mais suave */
    transition: background-color 400ms;
}

/* Muda a cor ao passar o mouse por cima */
form button:hover
{
    background-color: var(--hover-color);
}

/* dispor os elementos em forma de grade */
.items-grid
{
    display: grid;
    /* Divide em 3 colunas que tem seu tamanho calculado em razão da fração da div. Pode ter a entrada do tamanho em pixel também*/
    grid-template-columns: 1fr 1fr 1fr ;
    /* gap é utilizado em display do tipo grip. É a margem que fica entre os elementos. Como se fosse a espessura das grades */
    gap: 16px;
}

.items-grid li
{  
    /* Deixar cor de fundo e tirar o pontinho de lista*/
    background-color: #f5f5f5;
    list-style: none;

    /* Fazer uma borda, nesse caso não mudou nada porque a cor é a mesma */
    border: 2px solid #f5f5f5;
    border-radius: 8px;

    /* Configurar o tamanho dos itens */
    height: 180px;
    padding: 32px 24px 16px;

    /* Para organizar a imagem e o texto do item. Deixa eles em coluna, com espaço entre eles e alinhados */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    /* Fazer a mãozinha de clique */
    cursor: pointer;
}

.items-grid li span
{
    margin-top: 12px;

    /* Fazer o texto ocupar o resto do espaço do li que a imagem não ocupa  */
    flex: 1;
    display: flex;
    align-items: center;

    color: var(--title-color);
}

/* li da classe selected */
.items-grid li.selected
{
    /* Quando o item for selecionado muda a cor de fundo e da borda */
    background: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li img,
.items-grid li span
{
    /* Pra não acontecer o clique em cima da imagem ou do texto, vai ser considerado que o clique foi dado no item */
    pointer-events: none;
}