:root
{
    /* define as variáveis de cores */
    --title-color: #322153;
    --primary-color: #34cb79;
    --hover-color: #2fb86e;
}

*
/* aplica essas características para todo o documento */
{
    margin: 0;
    padding: 0;
    /* tamanho da caixa é considerado até a borda, e não até o fim do conteúdo */
    box-sizing: border-box;
}

html
{
    /* define a fonte que foi importada do google.fonts para o arquivo html */
    font-family: 'Roboto', sans-serif;
}


body
{
    /* define a cor de backgroud para todo o corpo do html */
    background: #f0f0f5;
    -webkit-font-smoothing: antialised;
}

a
{
    /* faz com que as decorações de todos os links sejam retiradas: no caso do link, é retirado o estilo sublinhado*/
    text-decoration: none;
}

/* Define uma cor e uma fonte para todos os títulos */
h1, h2, h3, h4, h5, h6
{
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}
